# Projet maison n° 3

In [1]:
# imports
import pandas as pd
import glob
import re

## 1. US baby names

On va s'intéresser au dataset **National data** de la SSA : https://www.ssa.gov/oact/babynames/limits.html

1. Télécharger le dataset des prénoms US : https://www.ssa.gov/oact/babynames/names.zip

Lire la documentation associée.

2. Implémenter une fonction Python qui produit un unique DataFrame avec tous les fichiers en utilisant pandas (par ex. fonction "concat" ou méthode "append"), pas de bash :)

Ordre et noms des colonnes : 'year', 'name', 'gender', 'births'

Le DataFrame doit être trié selon l'année croissante puis selon l'ordre défini par les différents fichiers (voir la documentation du dataset).

In [69]:
# names us
def df_names_us():
    path = r"C:\Users\Pierrick\OneDrive\Bureau\K\2_MS_TelecomParis\Cours\INFMDI721_Kit_Big_Data\PierrickLeroy\TP3\names\yob*.txt"
    cols = ['year', 'name', 'gender', 'births']
    l_df = []
    pattern = 'yob([\d]{4}).txt'
    for file in glob.glob(path):
        df = pd.read_csv(file, sep=',', names = ['name', 'gender', 'births'] )
        year = re.findall(pattern, file)[0]
        df['year'] = year
        df = df.astype({'year' : int, 'name' : str, 'gender' : str, 'births' : int})
        l_df.append(df)
    df_concat = pd.concat(l_df)[cols]
    return df_concat.sort_values(by = ['year', 'gender', 'births', 'name'], ascending = [True, True, False, True]).reset_index(drop = True)

## 2. Prénoms français

On va s'intéresser au dataset **Fichiers France hors Mayotte** de l'INSEE :  https://www.insee.fr/fr/statistiques/2540004/

L'idée est de charger les données et ensuite de les conformer au DataFrame des prénoms US. Ainsi, toute manipulation sur le DataFrame des prénoms US pourra être directement réutilisée avec le DataFrame des prénoms français.
 
1. Télécharger le dataset des prénoms français : https://www.insee.fr/fr/statistiques/fichier/2540004/nat2020_csv.zip


Lire la documentation, ça peut être utile...
 
2. Implémenter une fonction Python qui produit un DataFrame avec les prénoms français en prenant le DataFrame des prénoms US comme modèle :
 
 - Même ordre et mêmes noms des colonnes : year, name, gender, births
 - Mêmes dtypes pour les colonnes
 - Mêmes valeurs pour la colonne 'gender'
 - Seuls les prénoms de 2 caractères et plus sont conservés
 - La casse des prénoms doit être identique : initiales en majuscule, autres lettres en minuscule
 - Les lignes avec des données inutilisables doivent être supprimées
 - Les données sont triées à l'identique : années (↑), puis gender (↑), puis births (↓) et enfin name (↑)
 - L'index du DataFrame doit aller de 0 à N-1

In [220]:
# names fr
def df_names_fr():
    df = pd.read_csv(r"C:\Users\Pierrick\OneDrive\Bureau\K\2_MS_TelecomParis\Cours\INFMDI721_Kit_Big_Data\PierrickLeroy\TP3\nat2020_csv\nat2020.csv", sep=';'
                    , keep_default_na = False)
    df.columns = ['gender', 'name', 'year', 'births']
    df = df[['year', 'name', 'gender', 'births']]
    df['gender'] = df['gender'].map({2 : 'F', 1 : 'M'})
    df = df[df['name'].str.len()>=2]
    df['name'] = df['name'].str.capitalize()
    df['year'] = pd.to_numeric(df['year'], errors = 'coerce')
    df = df.dropna(subset = ['year'])
    df = df.astype({'year' : int, 'name' : str, 'gender' : str, 'births' : int})
    df = df[df['name'].str.len()>=2]
    df = df[df['name']!='_prenoms_rares']
    df = df.sort_values(by = ['year', 'gender', 'births', 'name'], ascending = [True, False, False, True])
    df = df.reset_index(drop=True)
    return df

## 3. Taux de change

On va s'intéresser au dataset des cours des devises de la Banque de France :  http://webstat.banque-france.fr/fr/#/downloading

L'idée est de charger les données, de les nettoyer et de pouvoir accéder aux cours de certaines devises à partir de leur code ISO3.
 
1. Utiliser le dataset des taux de change fourni.


2. Implémenter une fonction qui produit un DataFrame avec les taux de change par date pour une liste de codes ISO3 de devises passée en argument. L'index du DataFrame doit correspondre aux dates (voir la fonction pd.to_datetime() avec le format '%d/%m/%Y'). Les colonnes du DataFrame doivent correspondre aux devises.

In [348]:
# taux de change
def df_taux_change(devises):
    df = pd.read_csv(r"C:\Users\Pierrick\OneDrive\Bureau\K\2_MS_TelecomParis\Cours\INFMDI721_Kit_Big_Data\PierrickLeroy\TP3\Webstat_Export_20210929.csv"
                    , sep = ';'
                    , header = 0
                    , skiprows = [i for i in range(1,6)])
    
    pattern = '\(([A-Za-z0-9 ]*)\)'
    l = []
    for col in df.columns:
        res = re.findall(pattern, col)[0] if len(re.findall(pattern, col)) > 0 else col
        l.append(res)
    l[0] = 'Date'
    df.columns = l
    for col in list(df.columns[1:]):
        df[col] = pd.to_numeric(df[col].str.replace(',','.'), errors = 'coerce')
    
    # Date : parser et mettre en index
    df['Date'] = pd.to_datetime(df['Date'], format = '%d/%m/%Y')
    df = df.set_index('Date')
    return df[devises].dropna()

In [351]:
pd.to_numeric('1.6523')

1.6523

In [352]:
df_devise_test = df_taux_change(['AUD', 'BGN'])
df_devise_test

               AUD     BGN
Date
2021-09-28  1.6115  1.9558
2021-09-27  1.6129  1.9558
2021-09-24  1.6165  1.9558
2021-09-23  1.6110  1.9558
2021-09-22  1.6178  1.9558
...            ...     ...
2000-07-25  1.6072  1.9462
2000-07-24  1.5905  1.9464
2000-07-21  1.5945  1.9465
2000-07-20  1.5951  1.9468
2000-07-19  1.5920  1.9469

[5424 rows x 2 columns]

### Tests

In [353]:
import unittest

class Lesson4Tests(unittest.TestCase):
    def test_df_names_us(self):
        df = df_names_us()
        # colonnes
        self.assertEqual(list(df.columns), ['year', 'name', 'gender', 'births'])
        # lignes
        self.assertEqual(len(df), 2020863)
        # index
        self.assertTrue(isinstance(df.index, pd.core.indexes.range.RangeIndex))
        # test NaN
        self.assertTrue(df.loc[df.isnull().any(axis=1)].empty)
        
    def test_df_names_fr(self):
        df = df_names_fr()
        # colonnes
        self.assertEqual(list(df.columns), ['year', 'name', 'gender', 'births'])
#         # lignes
        self.assertEqual(len(df), 630407)
#         # index
        self.assertTrue(isinstance(df.index, pd.core.indexes.range.RangeIndex))
#         # test names
        self.assertTrue(df.loc[df['name'].str.contains('^[A-Z]+(?:-[A-Z]+)?$')].empty)
#         # test gender
        self.assertEqual(len(df), len(df.loc[df['gender']=='F']) + len(df.loc[df['gender']=='M']))
#         # test NaN
        self.assertTrue(df.loc[df.isnull().any(axis=1)].empty)

    def test_df_taux_change(self):
        df = df_taux_change(['CHF', 'GBP', 'USD'])
        # colonnes
        self.assertEqual(list(df.columns), ['CHF', 'GBP', 'USD'])
        # index
        self.assertTrue(isinstance(df.index, pd.core.indexes.datetimes.DatetimeIndex))
        # types taux
        self.assertTrue((df.dtypes == 'float').all())
        # test NaN
        self.assertTrue(df.loc[df.isnull().any(axis=1)].empty)

In [354]:
# run tests
def run_tests():
    test_suite = unittest.makeSuite(Lesson4Tests)
    runner = unittest.TextTestRunner(verbosity=2)
    runner.run(test_suite)

In [355]:
# run tests

run_tests()

test_df_names_fr (__main__.Lesson4Tests) ... ok
test_df_names_us (__main__.Lesson4Tests) ... ok
test_df_taux_change (__main__.Lesson4Tests) ... ok

----------------------------------------------------------------------
Ran 3 tests in 8.237s

OK